﻿@model int 

@{
    ViewBag.Title = "Triangle";
}
<br>
<br>
 @{
     for (int i = 0; i < Model + 1; i++)
     {
         string s = "";
         for (int j = 0; j <= i; j++)
         {
             s += "*";
         }
         <p>@s</p>
     }
 }