﻿@{
    ViewBag.Title = "Index_index1";
}

<h2>Index_index1</h2>

<form action="Name/index" method="post">
    <input name=" name" id="name">
    <button type="submit">Сохранить </button>
    </form>
