﻿
@{
    ViewBag.Title = "Get_sum";
}


@ViewBag.sanjar
<h2>Get_sum</h2>
<form method="post">
    <input type="number" name="a" value="" />
    <input type="number" name="b" value="" />

    <input type="submit" />
</form>

