﻿
@{
    ViewBag.Title = "GetForm";
}

<h2>GetForm</h2>
<form action="/Home/SumNumbersPost" method="post">

    <input type="number" name="a" value="">
    <input type="number" name="b" value="">
    <button type="submit" />Сохранить <button>

</form>
