﻿
<h4> Добавить игрока </h4>
<form action="/Team/AddPlayer" method="post">
    <input name="PlayerID" type="number" />
    <input name="Name" type="text" />
    <input name="BirthDate" type="datetime" />
    <button type="submit">Добавить</button>
</form>
