﻿@model MvcApplication2.Models.Team

<p>TeamID: @Model.TeamID</p>
<p>Team name: @Model.Name</p>


<table style="border: 1px solid;">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>BirthDate</th>
    </tr>
    @foreach (var player in Model.Player)
    {
        <tr>
            <td>@player.PlayerID</td>
            <td>@player.Name</td>
            <td>@player.BirthDate.ToShortDateString()</td>
        </tr>
    }

</table>

@Html.Partial("AddPlayer")



